In [37]:
import pandas as pd

In [38]:
ei = pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\earthquake damage.csv")

In [39]:
ei.shape

(260601, 41)

In [40]:
ei.isnull().sum()

building_id                                    0
geo_level_1_id                                 0
geo_level_2_id                                 0
geo_level_3_id                                 0
count_floors_pre_eq                            0
age                                            0
area_percentage                                0
height_percentage                              0
land_surface_condition                         0
foundation_type                                0
roof_type                                      0
ground_floor_type                              0
other_floor_type                               0
position                                       0
plan_configuration                             0
has_superstructure_adobe_mud                   0
has_superstructure_mud_mortar_stone            0
has_superstructure_stone_flag                  0
has_superstructure_cement_mortar_stone         0
has_superstructure_mud_mortar_brick            0
has_superstructure_cement_mortar_brick         0
has_superstructure_timber                      0
has_superstructure_bamboo                      0
has_superstructure_rc_non_engineered           0
has_superstructure_rc_engineered               0
has_superstructure_other                       0
legal_ownership_status                         0
count_families                                 0
has_secondary_use                              0
has_secondary_use_agriculture                  0
has_secondary_use_hotel                        0
has_secondary_use_rental                       0
has_secondary_use_institution                  0
has_secondary_use_school                       0
has_secondary_use_industry                     0
has_secondary_use_health_post                  0
has_secondary_use_gov_office                   0
has_secondary_use_use_police                   0
has_secondary_use_other                        0
Unnamed: 39                               260601
damage_grade                                   0
dtype: int64

In [41]:
ei

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,Unnamed: 39,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,NaN,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,NaN,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,NaN,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,NaN,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,25,1335,1621,1,55,6,3,n,r,...,0,0,0,0,0,0,0,0,NaN,2
260597,669485,17,715,2060,2,0,6,5,t,r,...,0,0,0,0,0,0,0,0,NaN,3
260598,602512,17,51,8163,3,55,6,7,t,r,...,0,0,0,0,0,0,0,0,NaN,3
260599,151409,26,39,1851,2,10,14,6,t,r,...,0,0,0,0,0,0,0,0,NaN,2
260600,747594,21,9,9101,3,10,7,6,n,r,...,0,0,0,0,0,0,0,0,NaN,3

In [42]:
ei.isnull().sum()[ei.isnull().sum() / ei.shape[0] *100 >40]

Unnamed: 39    260601
dtype: int64

In [43]:
ei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 41 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
 39  Unnamed: 39                             0 non-null       float64
 40  damage_grade                            260601 non-null  int64
dtypes: float64(1), int64(32), object(8)
memory usage: 81.5+ MB

In [44]:
ei.legal_ownership_status.value_counts()

v    250939
a      5512
w      2677
r      1473
Name: legal_ownership_status, dtype: int64

In [45]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()

In [46]:
ei.land_surface_condition = le.fit_transform(ei.land_surface_condition)
ei.foundation_type = le.fit_transform(ei.foundation_type)
ei.roof_type = le.fit_transform(ei.roof_type)
ei.ground_floor_type = le.fit_transform(ei.ground_floor_type)
ei.other_floor_type = le.fit_transform(ei.other_floor_type)
ei.position = le.fit_transform(ei.position)
ei.plan_configuration = le.fit_transform(ei.plan_configuration)
ei.legal_ownership_status = le.fit_transform(ei.legal_ownership_status)

In [47]:
ei = ei.drop(['Unnamed: 39', 'land_surface_condition' , 'count_floors_pre_eq' , 'foundation_type','ground_floor_type' , 'has_superstructure_timber' ,'plan_configuration','has_secondary_use',
             'legal_ownership_status','has_superstructure_bamboo','has_superstructure_stone_flag' ,'has_secondary_use_agriculture',
             'has_superstructure_cement_mortar_brick' ,'has_superstructure_adobe_mud' ,'has_superstructure_mud_mortar_brick',
             'has_secondary_use_hotel' , 'has_superstructure_rc_non_engineered', 'has_superstructure_cement_mortar_stone',
             'has_superstructure_other', 'has_superstructure_rc_engineered', 'has_secondary_use_rental',
             'has_secondary_use_other','has_secondary_use_industry','has_secondary_use_institution',
             'has_secondary_use_school','has_secondary_use_health_post','has_secondary_use_use_police',
             'has_secondary_use_gov_office'] ,axis = 1)

In [48]:
ei.isnull().sum()

building_id                            0
geo_level_1_id                         0
geo_level_2_id                         0
geo_level_3_id                         0
age                                    0
area_percentage                        0
height_percentage                      0
roof_type                              0
other_floor_type                       0
position                               0
has_superstructure_mud_mortar_stone    0
count_families                         0
damage_grade                           0
dtype: int64

In [49]:
ei.shape

(260601, 13)

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
ei_train , ei_test = train_test_split(ei , test_size =.2)

In [52]:
#ei1 = ei_train[ei.damage_grade == 1]

In [53]:
#ei_train_1 = pd.concat([ei_train , ei1 , ei1,ei1 , ei1, ei1, ei1, ei1,ei1,ei1] )
#ei_train_1.shape

In [54]:
ei_train_x = ei_train.iloc[: , 1:-1]
ei_train_y = ei_train.iloc[: , -1]
ei_test_x = ei_test.iloc[: , 1:-1]
ei_test_y = ei_test.iloc[: , -1]

In [55]:
from sklearn.tree import DecisionTreeClassifier

In [56]:
dt =  DecisionTreeClassifier(criterion='entropy' , class_weight='balanced' )

In [57]:
dt.fit(ei_train_x ,ei_train_y)

DecisionTreeClassifier(class_weight='balanced', criterion='entropy')

In [58]:
pred = dt.predict(ei_test_x)

In [59]:
from sklearn.metrics import confusion_matrix

In [60]:
tab1 =confusion_matrix(ei_test_y , pred)

In [61]:
tab1

array([[ 2592,  2082,   354],
       [ 2375, 20321,  6977],
       [  356,  6197, 10867]], dtype=int64)

In [65]:
from sklearn.metrics import accuracy_score ,precision_score , recall_score , f1_score

In [66]:
Acc = tab1.diagonal().sum() *100 / tab1.sum()
Acc

64.81072888087336

In [67]:
recall_score(ei_test_y , pred , average='macro')

0.6080558821229055

In [68]:
precision_score(ei_test_y , pred , average='macro')

0.5982071539399535

In [69]:
f1_score(ei_test_y , pred , average='macro')

0.6028198738949387

### feature selection

In [70]:
dt.feature_importances_

array([0.17121815, 0.12629695, 0.15375935, 0.13850605, 0.12627559,
       0.06898785, 0.02874146, 0.02603465, 0.02601644, 0.10845906,
       0.02570446])

In [71]:
feature_importance = pd.DataFrame()

In [72]:
feature_importance['Feature'] = ei_test_x.columns
feature_importance['Score'] = dt.feature_importances_

In [73]:
feature_importance.sort_values('Score' , ascending = False)

                                Feature     Score
0                        geo_level_1_id  0.171218
2                        geo_level_3_id  0.153759
3                                   age  0.138506
1                        geo_level_2_id  0.126297
4                       area_percentage  0.126276
9   has_superstructure_mud_mortar_stone  0.108459
5                     height_percentage  0.068988
6                             roof_type  0.028741
7                      other_floor_type  0.026035
8                              position  0.026016
10                       count_families  0.025704

## Random forest

In [105]:
from sklearn.ensemble import RandomForestClassifier

In [106]:
rfc = RandomForestClassifier(n_estimators=1000)
#250  79.1037777479327
# 650 72.29180176896068
# 550 79.25151090731183
# 950 77.17284779647359
# 550,    61.15567621496135
# 1000  85.1591853571497

In [107]:
rfc.fit( ei_train_x , ei_train_y)

RandomForestClassifier(n_estimators=1000)

In [108]:
pred = rfc.predict(ei_test_x)

In [109]:
from sklearn.metrics import confusion_matrix

In [110]:
tab1 =confusion_matrix(ei_test_y , pred)

In [111]:
Acc = tab1.diagonal().sum() *100 / tab1.sum()
Acc

85.1591853571497

In [112]:
recall_score(ei_test_y , pred , average='macro')

0.821598453572234

In [113]:
precision_score(ei_test_y , pred , average='macro')

0.809453433263423

In [114]:
f1_score(ei_test_y , pred , average='macro')

0.801232345368966

## Logistic Regression

In [115]:
from sklearn.linear_model import LogisticRegression

In [116]:
logreg = LogisticRegression()

In [117]:
logreg.fit(ei_train_x , ei_train_y)

C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [118]:
pred = logreg.predict(ei_test_x)
pred

array([2, 2, 2, ..., 2, 2, 2], dtype=int64)

In [119]:
from sklearn.metrics import confusion_matrix

In [120]:
tab1 = confusion_matrix(ei_test_y , pred)

In [121]:
tab1

array([[   22,  4991,    15],
       [   12, 29567,    94],
       [    1, 17363,    56]], dtype=int64)

In [122]:
Acc = tab1.diagonal().sum() *100 / tab1.sum()
Acc

56.877266360967745

In [123]:
recall_score(ei_test_y , pred , average='macro')

0.33467264062646906

In [124]:
precision_score(ei_test_y , pred , average='macro')

0.5124755549785884

In [125]:
f1_score(ei_test_y , pred , average='macro')

0.24659807536992331